.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333; /* Asegura que el texto sea oscuro */
}

.modal-content h2 {
    color: #0066cc; /* Color azul para el título */
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content a {
    color: #0066cc;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}
